/* Sobreposição de estilo da side-bar -------*/

.bg-gradient-primary {
   background-color: #125591;
   background-image: linear-gradient( #125591 20%, #4a8dba);
   background-size: cover;
}

/*-----------------------------------------*/

/*Define uma posição padrão para as mensagens de retorno*/

.alert-position {
   position: absolute;
   top: 15px;
   right: 15px;
}

/*Adiciona uma margem para que botões não fiquem grudados no layout mobile*/

@media(max-width: 767px) {
   .btn-margin-responsive {
      margin-bottom: 10px;
   }
}

/*Customizações de botões de impressão dos datatables -------------*/

/*Adiciona um espaço na lateral para que os botões ocupem o mesmo espaçamento*/

@media(max-width: 767px) {
   .buttons-excel {
      padding: 0 20px !important;
   }
}

/*Adiciona uma linha para diferenciar os dois botões*/

.buttons-print {
   border-left: 1px solid white !important;
}

/*-----------------------------------------------------------------*/

/*Define um espaçamento fixo para o titulo dos cards na home*/
.space-limiter {
   min-height: 57px;
   max-height: 57px;
   overflow: hidden;
}

/*Atualiza o cursor para os botões desabilitados*/
button:disabled {
   cursor: not-allowed;
 }