/* Sobreposição de estilo da side-bar -------*/

.bg-gradient-primary {
   background-color: #125591;
   background-image: linear-gradient( #125591 20%, #4a8dba);
   background-size: cover;
}

/*-----------------------------------------*/

/*Define uma posição padrão para as mensagens de retorno*/

.alert-position {
   position: absolute;
   top: 15px;
   right: 15px;
}

/*Adiciona uma margem para que botões não fiquem grudados no layout mobile*/

@media(max-width: 767px) {
   .btn-margin-responsive {
      margin-bottom: 10px;
   }
}

/*Customizações de botões de impressão dos datatables -------------*/

/*Adiciona um espaço na lateral para que os botões ocupem o mesmo espaçamento*/

@media(max-width: 767px) {
   .buttons-excel {
      padding: 0 20px !important;
   }
}

/*Adiciona uma linha para diferenciar os dois botões*/

.buttons-print {
   border-left: 1px solid white !important;
}

/*-----------------------------------------------------------------*/

/*Define um espaçamento fixo para o titulo dos cards na home*/

.space-limiter {
   min-height: 57px;
   max-height: 57px;
   overflow: hidden;
}

/*Atualiza o cursor para os botões desabilitados*/

button:disabled {
   cursor: not-allowed;
}

/*Rodapé do modal customizado*/

.modal-footer-custom {
   padding: 1rem;
   border-top: 1px solid #e3e6f0;
}

/*Cabeçario do modal de alerta*/

.modal-header-danger {
   background-color: #ffd5d3;
   color: #930701;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   padding: 1rem 1rem;
   border-bottom: 1px solid #e4a9a6;
   border-top-left-radius: 0.3rem;
   border-top-right-radius: 0.3rem;
}

.modal-header-danger h5 {
   font-weight: bold;
}

.modal-header-danger button span {
   color: #930701;
}

/*----------------------------*/